#services {
    margin: 3rem 0 0 0;
    padding: 0 3rem;
    position: relative;
}

.service-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service-intro h1 {
    position: absolute;
    font-size: 4rem;
    opacity: 0.2;
    font-family: serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    left: 8%;
}

.service-intro h2 {
    font-size: 2rem;
    position: relative;
    padding-top: 1rem;
    font-family: serif;
    font-weight: 600;
}

.service-intro p {
    margin: .8rem 0;
}

.service-item {
    width: 57%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.service-item .box {
    width: 17rem;
    height: 9rem;
    color: #5db709;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.service-item .box:hover {
    color: #fff;
    background-color: #5db709;
}

.service-item .box .line {
    width: 14rem;
    height: 8rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.service-item .box .line:hover {
    border: 1px solid #fff;
}

#services .fa-solid {
    font-size: 2rem;
}

#services .line h3 {
    font-weight: 400;
    font-size: 1rem;
    color: #000;
}
.img-sec img {
    width: 26rem;
    height: 18.5rem;

}
@media only screen and (max-width:768px){
    #services{
        padding: 0 1rem;
    }
    .service-intro{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .service-intro h1 {
        top: 0%;
        left: 8%;
    }
    .service-container{
        flex-direction: column;
    }
    .service-item{
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 0.5rem;
        gap: 0;
        text-align: center;
    }
    .service-item .box{
        width: 10rem;
        height: 9rem;
    }
    .service-item .box .line{
        width:8rem ;
        height:8rem ;
    }
    .img-sec img{
        padding: 0 3rem;
        object-fit: cover;
    }
}

@media only screen and (min-width:768px){
    .service-intro{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .service-intro h1 {
        top: 0%;
        left: 30%;
    }
    .service-intro p{
        margin:1rem;
    }
    .service-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        /* height: 100%; */
    }
    .service-item{
        height: 20rem;
        width: 70%;
    }
    .service-item .box{
        width: 20rem;
    }
    .service-item .box .line{
        width: 17rem;
    }
    .img-sec{
        width: 100%;
        height: 100%;
        margin-top: 1rem;
    }
    .img-sec img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}




